<div class="row">
  <div class="col-lg-12">
    <h1>Welcome to DynaForm!</h1>

    <div class="container">
      <p>
        DynaForm is a utility for creating and building dynamic forms while providing a clean interface to capture and read the data. To get started, head over to the
        <%= link_to 'sign up', signup_url %> if you don't yet have an account. Or, check out the <%= link_to "published surveys", published_surveys_url %> to see if there are any surveys awaiting data collection.
      </p>
    </div>
    <div class="container">
      <!--
      <h3>How does it work?</h3>
      <p>
        Anyone with an active user account can manager their forms through their personal dashboard. From the dashboard, users can
        create drafts, build forms, publish/unpublish their content, and see results of published content.
      </p>
      <p>
        To get started:
        <ol>
          <li>Create an account (or login if you have one already).</li>
          <li>Navigate to <%= link_to "your dashboard", dashboard_url %></li>
          <li>Enter a title and description for a new form.</li>
          <li>Once the draft is saved the form should be loaded into the form builder.</li>
          <li>In the form build, add inputs to the form. Inputs do require a label at minimum.</li>
          <li>Some input types (checkbox and option selects will require a list of items to be presented to the individual taking the survey.</li>
          <li>Once you are happy with the results select Publish.</li>
          <li><b>Important:</b> Once published, DynaForms's and their respective inputs cannot be altered or update. This is intentional to ensure the collected data aligns with the information presented to the user when they took the survey.</li>
          <li>There is no rush to publish. If you need time gradually build out the form you can always come back to your dashboard and pickup where you left off</li>
          <li>There is no limit on the number of published or unpublished forms you can have at a time.</li>
          <li>Once published, the survey will show on the <%= link_to "Published Surveys", published_surveys_url %> page.</li>
          <li>Only site visitors or users that did not create the DynaForm are presented with the option to take the survey.</li>
          <li>Results for a survey can be seen on <%= link_to "your dashboard", dashboard_url %> by selecting See Results for a particular survey. This is only available once a survey is published.</li>
        </ol>
      </p>
      -->
    </div>
  </div>
</div>