<!DOCTYPE html>
<html>
  <head>
    <title>Dynaform</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= turbo_include_tags %>
  </head>

  <body>
    <%= render partial: "navbar" %>
    <% if Current.session %>
      <%= turbo_stream_from dom_id(Current.session) %>
    <% end %>
    <%= turbo_frame_tag "flash_message" do %>
      <%= render partial: "flash_message" %>
      <div></div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <%= render partial: "footer" %>
</html>
